SERVER=https://project-tools-santillana.atlassian.net
EMAIL=tu-correo@santillana.com
API_TOKEN=ATATT3xFfGF0TueRMw654-lGpD4NIkNrBeuvYJ3Kx-aIAG_nOpe6JenutKMPBHsDmmGh3PTHIWKrXIPsTqcsxv32YZCBduTRcwVSlQCUOGCRCIx-WkochcBNdn67i6M--uvmr0pCmZdLhOsiWx4UHseA8lySKLG8khzzPRvYucw_DkdBhGGbWjw=29805DAA
PROJECT_KEY=TEP
